.task-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.task-list  ::-webkit-scrollbar-button
{
    display: none;
}
.task-list-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width:396px)
{
  .filter-buttons
  {
    padding-left: 20px;
  }
}

.filter-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.filter-buttons button {
  padding: 6px 12px;
  border: none;
  border-radius: 20px;
  background-color: black;
  opacity: 0.7;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}

.filter-buttons button.active {
  background-color: #007bff;
  color: white;
}

.no-tasks {
  text-align: center;
  color: #777;
  font-style: italic;
  margin-top: 100px;
}

